<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Rat's Nest</h1>
    <img
      class="rotate"
      src="http://www.worldatlas.com/webimage/flags/countrys/zzzflags/bdlarge.gif">
  </body>
</html>
