<% provide(:title, "Home") %>

<div class="jumbotron center">
  <h1>Login to the Rat's Nest</h1>
  <p>
    Login form goes here!
  </p>
  <div class="mtxxl">
    <%= image_tag("bangladesh.gif", class: "rotate") %>
  </div>
</div>
