<!DOCTYPE html>
<html>
  <head>
    <title>Home | Rat's Nest</title>
  </head>
  <body>
    <h1>Rat's Nest</h1>
    <img
      class="rotate"
      src="http://www.worldatlas.com/webimage/flags/countrys/zzzflags/bdlarge.gif">
  </body>
</html>
