<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
    <div class="center jumbotron">
      <h1>Login to the Rat's Nest</h1>
      <p>
        Login form goes here!
      </p>
      <div class="mtxxl">
        <%= image_tag("bangladesh.gif", class: "rotate") %>
      </div>
    </div>
  </body>
</html>
